/* Basic styling */
*{
  font-family:cursive;
  margin: 0;
  padding: 0;
}
body {
    font-family: sans-serif;
    margin: 2rem;
    background-color: #f2f2f2; /* Light gray background */
    
  }
  
  /* Heading with space for logo */
  h1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .logo {
    width: 50px; /* Adjust logo width as needed */
    height: 50px; /* Adjust logo height as needed */
    margin-right: 1rem;
  }
  
  /* Form styling */
  form {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem; 
   padding: 20px ;
   display: flex;
  }
  
  select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* White background for select menus */
  }
  
  button {
    background-color: #0a9c27; /* Purple background */
    color: white;
    /* padding: 5px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px 15px;
    /* border: red solid 2px; */
  }
  
  /* Button hover effect */
  button:hover {
    background-color:#044d14; /* Darker purple on hover */
  }

  h1 {
    color: #333;
    font-size: 32px;
    margin: 0;
    text-align: center;
  }


 .detail_form{
  display: flex;
  justify-content: space-between;
 }
  
  input[type="text"] {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    width: 300px;
  }
  .btn {
    background-color: #0a9c27; /* Purple background */
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* button[type="submit"] {
    background-color: #0a9c27;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  */

  
  #results {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    margin: 40px 0;
  }
  
  #results > div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  #results img {
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  #results h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
  }
  
  #results ul {
    margin: 0;
    padding: 0;
  }
  
  #results li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  #results a {
    background-color: #0a9c27;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  #results a:hover {
    background-color: #0a9c27;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Information sections */
  .recipe-info {
    margin-bottom: 1rem;
  }
  
  .recipe-info p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .recipe-info p span:first-child {
    font-weight: bold;
  }
  
  /* Specific elements */
  .prep-time,
  .cook-time,
  .total-time {
    color: #f06292; /* Light pink */
  }
  
  .servings {
    color: #3aa0e6; /* Light blue */
  }
  
  .diet {
    color: #9ccc65; /* Light green */
  }
  
  .url {
    font-style: italic;
  }
  .url a {
    color: #477c06; /* Change color to indicate a link */
    text-decoration: underline; /* Add underline for visual cue */
  }
  
  .url a:hover {
    color: #0055a5; /* Change color on hover for better feedback */
  }


  .row{
    align-items: left;
    text-align: left;
  }

.rc-content h1{
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border:2px transparent black;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 20% ;
  
}

.rc-time{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.url{
  border: 2px solid black;
  width: max-content;
  padding: 10px;
  border-radius: 20%;
  /* align-items: center;
  display: flex;
  text-align: center;
  justify-content: center; */
  
}
.url_line{
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.content{
display: flex;
/* border: 2px solid black; */
height: min-content;
width: 100%;
}

.content img{
  /* border: 2px solid red; */
  height: 300px;
  width: 33%;
  overflow: hidden;
  max-height: 320px;
}
.nav{ 
  margin-top: -20px;
  /* border: 2px solid red; */
  /* padding: 10px; */
  /* border-radius: 20%; */
}

.logo{
  /* border: black 2px solid; */
  height: 45px;
  width:20%;
  padding: 10px 10px;
  /* margin-top: -10px; */
}

.logo img{
  height: 100%;
  width: 100%;
}
.header-link{
  color: grey;
  font-size: 15px;
 padding: 20px 20px;
 text-align: center;
 align-items: center;
  border: 3px solid  gray;
  border-radius: 30px;
}
header{
  display: flex;
  justify-content: space-between;
  
}

.logo{
  display:flex;
  justify-content: space-between;
  /* border:  2px solid black; */
}



.news-slider {
  width: 100%; /* Adjust width as needed */
  height: 50px;
  overflow: hidden; /* Hide overflowing content */
  position: relative;
  /* border: 2px solid black; */
  align-items: center;
  /* border: 2px solid; */
  align-items: center;
  margin-top: 10px;
  
}

.news-slider ul {
  position: absolute;
  top: 0; /* Start from the top */
  width: max-content; /* Stretch to full width */
  animation: newslide 100s linear infinite; 
  width: 100%;
  align-items: center;
  text-align: center;
  /* animation:  30s infinite alternate; */
}

.news-slider li {
  list-style: none;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  margin-bottom: 5px;
  font-size: 20px;
  /* opacity: 0;  */
  /* transition: opacity 2s ease-in-out; */
}

.tablecols{
  text-align: center;
  align-items: center;
}
.row{
  text-align: center;
  align-items: center;
  min-width: max-content;
} 


@keyframes newslide {
  0% {
    transform: translateY(0); /* Start from top */
  }
  100% {
    transform: translateY(-100%); /* Move down the entire height */
  }
}
