<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Suggester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <header class="nav">
    <div class ="logo">
        <img src="/static/Images/png/logo-no-background.png">
    </div>
    <div>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;&nbsp;  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
   
    <div class="news-slider">
        <ul>
          <li>Need dinner inspiration in a pinch? We've got you covered.</li>
          <li>Never run out of meal ideas again! Explore our vast recipe collection.</li>
          <li>Takeout getting boring? Spice up your life with our recipes!</li>
          <li>Feeling stressed? Let food be your comfort with our cozy recipes.</li>
          <li>Celebrate life's little victories with a delicious homemade meal.</li>
          <li>Food is love, and we're here to share the love with you!</li>
          <li>Treat yourself to a taste of happiness with our decadent desserts.</li>
          <li>Unleash your inner chef and create magical meals with our easy-to-follow recipes</li>
          <li>Challenge yourself with a new cuisine every week! Explore our international recipes.</li>
        
       
        </ul>
      </div>
    </header>
  
   <br>
    <h1>What cuisine and course are you craving today?</h1>
    <form action="/suggestions" method="POST">
        <select name="cuisine">
            <option value="">-- Select Cuisine --</option>
            {% for cuisine in cuisines %}
                <option value="{{ cuisine }}">{{ cuisine }}</option>
            {% endfor %}
        </select>
        <select name="course">
            <option value="">-- Select Course (Optional) --</option>
            {% for course in courses %}
                <option value="{{ course }}">{{ course }}</option>
            {% endfor %}
        </select>
        <button type="submit">Suggest Recipes</button>
    </form>
    <br>
    <div class="content">
        <img src="/static/Images/Hungry but clueless.png">
        <img src="/static/Images/veg.jpg">
        <img src="/static/Images/Can't decide We'll dish up the perfect match!.png">
       
    </div>
</body>
</html>
